.container {
  display: block;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

button.container:not([disabled]):hover {
  cursor: pointer;
}

.front,
.back {
  display: block;
  height: var(--card-height);
}

.front rect {
  fill: #fafafa;
  stroke: rgb(192, 192, 192);
}

button.container:not([disabled]):not([aria-selected='true']):hover .front rect {
  fill: rgb(230, 230, 230);
}

.container[aria-selected='true'] .front rect {
  fill: rgb(251, 233, 146);
  stroke: rgb(251, 192, 146);
}

button.container[aria-selected='true']:focus .front rect,
button.container:focus .front rect {
  stroke: rgb(78, 76, 93);
}

.front text {
  fill: rgb(102, 102, 102);
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }

  10% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  20% {
    transform: scale3d(1, 1, 1);
  }
}

.isHinted svg {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
