[data-reach-dialog-overlay] {
  background: rgba(0, 0, 0, 0.5);
}

.container {
  background-color: transparent;
  padding: 0.5rem;
  width: auto;
}

@media (min-width: 700px) {
  .container {
    max-width: 800px;
  }
}

.wrapper {
  border-radius: 0.5rem;
  background-color: rgb(83, 140, 83);
  box-shadow: 0 1rem 2rem -1rem #222;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 2rem;
  }
}

.title {
  color: var(--color-copy);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0 0 1em;
}

@media (min-width: 700px) {
  .title {
    margin-bottom: 0 0 2em;
  }
}

@media (min-width: 700px) {
  .row {
    display: flex;
  }
}

.col + .col {
  margin-top: 1em;
}

@media (min-width: 700px) {
  .col {
    flex-grow: 1;
    flex-basis: 0;
  }

  .col + .col {
    margin-top: 0;
    margin-left: 4rem;
  }
}

.presetRow {
  display: flex;
  margin: 0.5em -3px;
}

.presetRow button {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 3px;
}

.cardTypesContainer {
  margin-top: 0.5em;
  display: flex;
}

.cardTypesContainer .cardIcon + .cardIcon {
  margin-left: 1em;
}

.cardTypesContainer svg {
  height: 70px;
}

.controls {
  margin-top: 2rem;
}

.hintDelayField {
  background: transparent;
  font: inherit;
  width: 40px;
  color: var(--color-copy);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  padding: 0;
  margin: 0 4px 0 0;
  outline: none;
  text-align: center;
}

.hintDelayField:not([disabled]):hover,
.hintDelayField:focus {
  border-bottom-color: rgba(170, 240, 150, 0.9);
}

.hintDelayField[disabled] {
  cursor: not-allowed;
  border-bottom-color: rgba(170, 240, 150, 0.2);
  color: rgba(255, 255, 255, 0.5);
}
