.container {
  margin: 0.5rem auto 1.5rem;
  border-collapse: collapse;
}

.header {
  padding: 4px 0 0 26px;
  font-weight: normal;
  text-align: left;
}

.container td {
  font-size: 14px;
  padding: 6px 0 6px 30px;
}

.center {
  text-align: center;
}

.container td:first-child {
  padding-left: 0;
}

.container tr:last-child td {
  border-top: 1px solid rgba(255, 255, 255, 0.33);
}

.cardsAmount {
  opacity: 0.7;
  font-size: 0.8em;
}

.win {
  font-weight: bold;
  color: yellow;
}
