.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  /* Required to hide AI and player decks */
  overflow: hidden;
  position: relative;
  padding: 0 0.5rem;
}

.configBtn {
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  outline: none;
  cursor: pointer;
}

.aiSection,
.tableSection,
.playerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Off-screen AI deck */
.aiDeck {
  position: absolute;
  top: -35vmin;
}

.playerDeck {
  position: absolute;
  bottom: -20vmin;
}

.playerDeck > div,
.aiDeck > div {
  position: absolute;
  top: 0;
}

.tableSection {
  background: rgba(66, 66, 66, 0.2);
  border-radius: 2vmin;
  box-shadow: 0 0.5vmin 1vmin -0.3vmin #0000006b inset;
  max-width: 640px;
  width: 100%;
  position: relative;
}

.gameSummary {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
}

.gameResult {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .gameResult {
    font-size: 2rem;
  }
}

.tableSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1vw;

  /* Off-screen table deck on narrow devices */
  position: absolute;
  left: -15vh;
}

@media (min-width: 510px) {
  .tableSide {
    position: static;
    left: auto;
  }
}

.gameFinished .tableSide,
.gameFinished .tableCards {
  opacity: 0.025;
}

.deckContainer {
  flex-grow: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.deckContainer > div {
  position: absolute;
}

.placeholder {
  height: var(--card-height);
}

.tableCards {
  --vertical-padding: 1.5vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: var(--vertical-padding) 0;
  min-height: calc(var(--vertical-padding) * 6 + var(--card-height) * 2);
}

.tableCards > button {
  margin: 1vmin 1vw;
}

.playerCards,
.aiCards {
  --vertical-padding: 1.5vmin;
  display: flex;
  justify-content: center;
  min-height: calc(var(--vertical-padding) * 2 + var(--card-height));
  padding: var(--vertical-padding) 0;
  flex-grow: 1;
}

.playerCards > *,
.aiCards > * {
  margin: 0 1vw;
}

.messageSection {
  text-align: center;
  line-height: 40px;
  min-height: 40px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.messageSection .condensed {
  letter-spacing: -1.5px;
}

.aiMessage {
  margin-bottom: 1vmin;
}

.userMessage {
  margin-top: 1vmin;
}

.okBtn {
  margin-left: 0.8em;
  padding: 0.6em 1.2em;
  line-height: 1;
  font-size: 0.9rem;
}

.controlsSection {
  display: flex;
  justify-content: center;
  border-radius: 0.5em;
  min-height: 54px;
}

.controlBtn {
  min-width: 170px;
}
