:root {
  /* COLORS */
  --color-main-bg: rgb(83, 140, 83);
  --color-copy: white;
  --color-copy-weak: #eee;
  --color-copy-highlight: rgb(255, 178, 0);

  /* real playing cards dimensions are 62mm x 88mm */
  --card-height: 15vh;
  --card-width: 10vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-main-bg);
  color: var(--color-copy);
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

::selection {
  background-color: rgba(170, 240, 150, 0.5); /* WebKit/Blink Browsers */
  color: black;
}

::-moz-selection {
  background-color: rgba(170, 240, 150, 0.5); /* Gecko Browsers */
  color: black;
}
