*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(83, 140, 83);
}

.configBtn {
  background: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  outline: none;
  cursor: pointer;
}

.table {
  display: flex;
  justify-content: center;
  background: rgba(66, 66, 66, 0.2);
  border-radius: 1vw;
  box-shadow: 0 2px 9px -3px #000000b5 inset;
  padding: 2vw 1vw;
  margin: 3vh 0;
  min-height: calc(4vw + 15vh);
}

.cardsStack {
  justify-content: center;
  display: flex;
  min-height: 15vh;
}

.reverseCard,
.card {
  display: inline-block;
  padding: 0;
  border: 0.06em solid rgb(192, 192, 192);
  border-radius: 0.2em;
  height: 3em;
  line-height: 3em;
  margin: 0 0.5vw;
  width: 2em;
  font-size: 5vh;
}

.reverseCard {
  border-color: rgb(208, 208, 208);
  overflow: hidden;
  text-indent: -999em;
  vertical-align: bottom;
  background: linear-gradient(
      45deg,
      rgb(221, 204, 170) 12%,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 88%,
      rgb(221, 204, 170) 0
    ),
    linear-gradient(
      135deg,
      rgba(0, 0, 0, 0) 37%,
      rgb(170, 136, 85) 0,
      rgb(170, 136, 85) 63%,
      rgba(0, 0, 0, 0) 0
    ),
    linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 37%,
        rgb(221, 204, 170) 0,
        rgb(221, 204, 170) 63%,
        rgba(0, 0, 0, 0) 0
      )
      rgb(119, 85, 51);
  background-size: 2vmin 2vmin;
}

.card {
  position: relative;
  background: rgb(250, 250, 250);
  font-family: sans-serif;
  color: rgb(102, 102, 102);
  cursor: pointer;
  transition: transform 300ms;
}

.card:not([disabled]):hover {
  background-color: rgb(232, 232, 232);
}

.card.isSelected.isSelected {
  background-color: rgb(251, 233, 146);
  border-color: rgb(251, 192, 146);
  transform: translateY(-10px);
}

.card.isSelected:focus,
.card:focus {
  outline: none;
  border-color: rgb(78, 76, 93);
}

.cardType-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0.5vh;
}

.cardType-image .cardNumber {
  font-size: 2.5vh;
  position: absolute;
  top: 0.5vh;
  left: 0.5vh;
  display: block;
  line-height: 2.5vh;
}

.cardType-image svg {
  height: 2.5vmin;
  width: 2.5vmin;
  margin: 0.5vmin;
}

.cardType-image.isDense svg {
  height: 2.2vmin;
  width: 2.2vmin;
  margin: 0.9vmin 0.2vmin -0.4vmin;
}

.fieldContainer .card {
  margin: 0;
}

.fieldContainer .card.isSelected {
  transform: none;
}

.cardTypesContainer {
  margin-top: 0.25em;
  display: flex;
}

.cardTypesContainer label + label {
  margin-left: 1em;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.controls button {
  color: white;
  font: inherit;
  margin: 0 1em;
  padding: 0.7em 1em;
  background: rgba(255, 255, 255, 0.23);
  border: 0.06em solid transparent;
  flex-basis: 0;
  border-radius: 0.5em;
  flex-grow: 1;
  max-width: 140px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  opacity: 0.9;
}

.controls .large {
  max-width: 190px;
}

.controls button:hover {
  opacity: 1;
}

.controls button:focus {
  opacity: 1;
  border-color: rgb(78, 76, 93);
}

.controls button[disabled] {
  cursor: not-allowed;
  opacity: 0.2;
}

.message {
  text-align: center;
  line-height: 1.5;
  min-height: 1.5em;
  margin-bottom: 1em;
  color: rgb(255, 255, 255);
}

table {
  margin: 5vh auto;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgba(255, 255, 255, 0.33);
  padding-top: 1em;
}

th {
  padding: 2px 1em;
}

td.center {
  text-align: center;
}

.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

form {
  background-color: rgba(0, 0, 0, 0.09);
  margin: 1em 0;
  border-radius: 0.5vw;
  padding: 2vw;
}

form h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 0 0 1.5em;
}

.configContainer {
  margin: 0 auto;
  max-width: 300px;
}

.fieldContainer + .fieldContainer {
  margin-top: 1em;
}

label,
.label {
  font-weight: normal;
  display: block;
  color: white;
}

input,
textarea {
  font: inherit;
  font-size: 1.1em;
  color: white;
  display: block;
  width: 100%;
  display: block;
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.14);
  line-height: 2;
  border-radius: 0.25em;
  padding: 0 0.2em;
  margin-top: 0.25em;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 4em;
}

.formControls {
  margin-top: 1em;
}

.formControls button {
  font: inherit;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.75em 1.5em;
  border: none;
  color: white;
  border-radius: 0.25em;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.formControls [type='submit'] {
  background: rgba(255, 255, 255, 0.14);
}
